/vendor/

/.phpunit.cache/
/.piqule/phpunit/.phpunit.result.cache

/.phpstan
/.phpstan.cache

/.idea/
/*.log
/.piqule/php-cs-fixer/.php-cs-fixer.cache
/piqule.lock

/.piqule/codecov/coverage-report/
/.piqule/codecov/coverage.xml
/.piqule/infection/*.log
/.piqule/ast-metrics/reports/
/metrics.txt
