/vendor/

/.phpunit.cache/
/.piqule/.phpunit.result.cache

/.phpstan
/.phpstan.cache

/.idea/
/*.log
/.piqule/.php-cs-fixer.cache
/piqule.lock

/.piqule/coverage-report/
/.piqule/coverage.xml
/.piqule/infection.log
/.piqule/infection-summary.log
/.piqule/build/
