parameters:
    level: << config(phpstan.level)|default_list(["9"])|join("") >>

    paths:
<< config(phpstan.paths)|default_list(["../../src"])|format_each("        - %s")|join("\n") >>

    errorFormat: table
    reportUnmatchedIgnoredErrors: true

    checkUninitializedProperties: true
    checkClassCaseSensitivity: true
    checkDynamicProperties: true
