parameters:
    level: << config(phpstan.level)|default(["9"])|join("") >>

    paths:
<< config(phpstan.paths)|default(["../../src"])|format("        - %s")|join("\n") >>

    errorFormat: table
    reportUnmatchedIgnoredErrors: true

    checkUninitializedProperties: true
    checkClassCaseSensitivity: true
    checkDynamicProperties: true
