name: Hadolint
on:
  workflow_call:
permissions:
  contents: read
jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      # ------------------------------------------------------------
      # Checkout repository
      # ------------------------------------------------------------
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      # ------------------------------------------------------------
      # Run Hadolint on Dockerfile (if present)
      # ------------------------------------------------------------
      - name: Run Hadolint
        if: ${{ hashFiles('Dockerfile') != '' }}
        uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5  # v3.3.0
        with:
          dockerfile: Dockerfile
          config: .piqule/hadolint/.hadolint.yml
