name: Renovate
'on':
  workflow_call:
    inputs:
      config:
        description: "Path to renovate.json"
        required: true
        type: string
permissions:
  contents: write
  pull-requests: write
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run Renovate
        uses: renovatebot/github-action@v44.0.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          RENOVATE_CONFIG_FILE: ${{ inputs.config }}
          RENOVATE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
