name: Yamllint
on:
  workflow_call:
jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run yamllint
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: yamllint/.yamllint.yml
          format: github
