name: Actionlint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    uses: ./.github/workflows/reusable/actionlint.yml
