name: PR Size Checker

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  check_pr_size:
    uses: ./.github/workflows/pr-size-checker-reusable.yml
    with:
      max_lines_changed: 200