name: Renovate

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  renovate:
    uses: ./.github/workflows/renovate-reusable.yml
    with:
      config: renovate/config.json